:root {
  --bg-color: #f2f2f2;
  --text-color: #000;
  --accent-color: #fb9125;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 25px;
  background-color: var(--bg-color);
}

h1 {
  font-family: 'Playfair Display', Serif;
  font-weight: 900;
  font-size: 38px;
}

h2 {
  font-family: 'Playfair Display', Serif;
  font-weight: 900;
  font-size: 30px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 3px;
}

/* Link hover styling based on: https://codepen.io/geoffgraham/pen/bxEVEN */
a:hover {
  color: var(--text-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fb9125' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

#content {
  margin: 8vh 10vw 0vh;
}
@media (min-width: 768px) {
  #content {
    margin: 17vh 20vw 0vh;
  }
}

#headshot {
  display: none;
}
@media (min-width: 992px) {
  #headshot {
    display: inline;
    float: left;
    width: 20vw;
    height: auto;
    margin: 0;
  }
}

#headshot img {
  width: 90%;
  border-radius: 50%;
}

#bio {
  float: left;
  margin: 0;
}

#footer {
  margin: 8vh 10vw;
}
@media (min-width: 768px) {
  #footer {
    margin: 8vh 20vw;
    padding-left: 2vw;
  }
}

/* TODO this shit don't work, tryna make the links in footer display as blocks instead of inline on mobile */
@media (max-width: 768px) {
  #footer .col-auto {
    clear: both;
    display: block;
    /* float: left; */
  }
}

@media (min-width: 768px) {
  #footer .col-auto a {
    margin-left: 1vw;
  }
}