:root {
  --bg-color: #f2f2f2;
  --text-color: #000;
  --accent-color: #fb9125;
}

body {
  margin: 10vh 10vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 25px;
  background-color: var(--bg-color);
} 
@media (min-width: 768px) {
  body {
    margin: 20vh 20vw;
  }
}

h1 {
  font-family: 'Playfair Display', Serif;
  font-weight: 900;
  font-size: 38px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 3px;
}

/* Link hover styling based on: https://codepen.io/geoffgraham/pen/bxEVEN */
a:hover {
  color: var(--text-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fb9125' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

#headshot {
  display: none;
}
@media (min-width: 992px) {
  #headshot {
    display: inline;
    float: left;
    width: 20vw;
    height: auto;
    margin: 0;
  }
}

#headshot img {
  width: 90%;
  border-radius: 50%;
}

#bio {
  float: left;
  margin: 0;
}

#footer {
  margin-top: 8vh;
  padding-left: 2vw;
}

#footer h1 {
  font-size: 30px;
}

#footer .col-auto a {
  margin-left: 1vw;
}